<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Category</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Your custom CSS -->
    <style>
        /* Custom styles */
        body {
            background-color: #f8f9fa;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .card {
            width: 600px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .card-title {
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
        }

        .form-control {
            margin-bottom: 15px;
        }

        .btn-edit,
        .btn-cancel {
            width: 50%;
        }

        .btn-cancel {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="card">
            <h1 class="card-title">Edit Category</h1>
                <form id="categoryForm" action="/admin/editCatagory/{{catagory._id}}" method="POST">
                <div class="mb-3">
                    <label for="catagoryName" class="form-label">Category Name</label>
                <input type="text" id="catagoryName" name="editCatagoryName" class="form-control" value="{{catagory.catagoryName}}">
                </div>
                <div class="text-center">
                    {{!-- <form action="/admin/editCatagory/{{categories._id}}" method="POST"> --}}
                    
                    <button type="submit" class="btn btn-primary btn-edit">Save</button>
                    {{!-- </form> --}}
                    {{!-- <button type="button" class="btn btn-danger btn-cancel">Cancel</button> --}}
                </div>
            </form>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
