document.addEventListener('DOMContentLoaded', function () {
  const sortSelect = document.getElementById('sortSelect');

  sortSelect.addEventListener('change', function (e) {
    const selectedValue = e.target.value;
    console.log('selected value', selectedValue);

    axios.post('/product/sortSelect', {
      sortBy: selectedValue
    })
      .then(response => {
        console.log('server response:', response.data);
        renderProducts(response.data.products)

      })
      .catch(error => {
        console.log('error', error);
      });
  });

});